/* Styl dla całej strony */
html {
  background-color: #000; /* Czarny kolor tła */
  font-family: "Rajdhani", sans-serif;
}

/* Styl dla tytułu w pasku nawigacyjnym */
.navbar-title {
  color: white;
  font-size: 2.5rem;
  text-decoration: none;
  position: fixed;
  left: 3rem;
}

/* Styl dla przycisków w pasku nawigacyjnym */
.navbar-button {
  font-size: 1.4rem;
  text-decoration: none;
  color: white;
  border: 2px solid black;
  background-color: black;
  padding: 0.5rem 1rem;
  margin-left: 1rem;
}

/* Styl dla wiadomości powitalnej */
.welcome-message {
  color: white;
  font-size: 2.5rem;
  text-align: center;
  padding-top: 25rem;
}

/* Styl dla dynamicznego tekstu */
.typewriter-message {
  text-align: center;
  color: white;
}

/* Styl dla animacji pisania */
.typewrite > .wrap {
  border-right: 0.08em solid #fff;
}
