@font-face {
    font-family: star;
    src: url(font/Stardate81316-aolE.ttf);
}
aside {
    width: 18vw;
    height: 68vh;
}
#like {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
#like > button {
    background-color: black;
    border: none;
}
#iframelock {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
body {
    text-align: center;
    font-family: star;
    background-color: black;
    color: #F9CD38;
}
h1 {
    font-size: 4em;
}
h2 {
    font-size: 2.5em;
}
footer > p{
    font-size: 1.5em;
}
main {
    width: 60vw;
    height: 68vh;
    float: left;
    border-right: 2px double white;
    border-left: 2px double white;
}
header {
    height: 20vh;
    background-size: 57vh;
    background-image: url(Img/header.png);
    background-repeat: no-repeat;
    background-position: center;
    border-bottom: 2px double white;
}
footer {
    clear: both;
    text-align: center;
    border-top: 2px double white;
}
#gify {
    display: flex;
    flex-wrap: wrap;
    margin-left: 2vw;
}
#gify > img {
    width: 20vw;
    height: 16vh;
}
@keyframes shake {
    0% { -webkit-transform: translate(2px, 1px) rotate(0deg); } 
    10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
    20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
    30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
    40% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
    50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
    60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
    70% { -webkit-transform: translate(2px, 1px) rotate(-1deg); }
    80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
    90% { -webkit-transform: translate(2px, 2px) rotate(0deg); }
    100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); }
}
.shake:hover {
    animation-name: shake;
    animation-duration: 0.5s;
    transform-origin:50% 50%;
    animation-iteration-count: infinite;
}