#wiekszy{
    margin: auto;
    transition: all 2s;
    background-color: gray;
    border-radius: 30px;
    width: 20%;
    border: 2px gray solid;
    height: 10vh;
}
#klikanie{
    transition: all 2s;
    margin: auto;
    margin-left: 5px;
    margin-top: 5px;
    background-color: black;
    border: 2px black solid;
    border-radius: 50%;
    width: 25%;
    height: 8vh;
}
#klikanie > svg{
    padding-top: 2vh;
    padding-left: 18px;
    margin: auto;
    transform: rotate(0deg);
    transition: all 2s;
}
.ciemno{
    transition: all 2s;
    background-color: black;
    color: white;
}
body{
    transition: all 2s;
}
main{
    margin-top: 2vh;
    margin: auto;
    width: 75%;
}