@font-face {
    font-family: bit;
    src: url(Ubuntu-Medium.ttf);
    transition: all 2s;
}
* {
    overflow: hidden;
    font-family: bit;
}
body {
    margin: auto;
    background-color: black;
    color: white;
    text-align: center;
}
input[type=text] {
    text-align: center;
    margin: auto;
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
    background-color: black;
    color: white;
    box-sizing: border-box;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 3px solid #555;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}
input[type=submit] {
    background-color: black;
    color: white;
    width: 200px;
    height: 40px;
    box-sizing: border-box;
    border-top: none;
    border-left: none;
    border-right: none;
    transition: 0.5s all;
    border-bottom: 3px solid #555;
}
input[type=submit]:hover {
    transition: 0.5s all;
    border: 3px solid white;
}
p {
    padding: 12px 20px;
    margin: 8px 0;
    background-color: black;
    color: white;
    box-sizing: border-box;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 3px solid white;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}
button {
    background-color: black;
    color: white;
    width: 200px;
    height: 40px;
    box-sizing: border-box;
    border-top: none;
    border-left: none;
    border-right: none;
    transition: 0.5s all;
    border-bottom: 3px solid #555;
}
button:hover {
    transition: 0.5s all;
    border: 3px solid white;
}
input[type=text]:focus {
    border-bottom: 3px solid white;
}
::placeholder{
    text-align: center;
}
footer{
    margin-bottom: 2vh;
    clear: both;
}