body{
    background-color: black;
    margin: auto;
    color: white;
    text-align: center;
    width: 152.9051987767584vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
header{
    background-image: url("baner.png");
    width: 152.9051987767584vh;
    height: 9.174311926605505vh;
    font-size: 20px;
    border-radius: 10px;
}
#wrapper{
    height: 60vh;
}
main{
    background-color: #1d2d44;
    border-radius: 10px;
    width: 69%;
    float: left;
    height: inherit;
}
aside{
    background-color: #748cab;
    float: right;
    height: inherit;
    width: 30%;
    border-radius: 10px;

}
footer{
    background-color: #1d2d44;
    clear: both;
    border-radius: 10px;
    padding: 1vh;
    margin-top: 2vh;
}
nav{
    background-color: #1d2d44;
    border-radius: 10px;
}
nav li{
    display: inline-block;
    width: 20%;
    background-color: #3e5c76;
    height: 30px;
    padding-top: 2vh;
    border-radius: 10px;
}
nav li:hover{
    display: inline-block;
    width: 20%;
    background-color: #94a3b1;
    height: 30px;
    padding-top: 2vh;
    border-radius: 10px;
}
a{
    color: white;
    text-decoration: none;
}
form{
    line-height: 1.5;
    text-align: center;
}
p{
    padding-top: 2vh;
    padding-bottom: 2vh;
    text-align: center;
    margin: auto;
}
img{
    width: 250px;
    height: 150px;
}